@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap')
$primary-font: 'Raleway', sans-serif
$primary-color: #67649d
$white-color: #ffffff
$font-bold: 900

h1, h2, h3, h4, h5, h6, p, ul, header, nav, section, footer
  margin: 0
  padding: 0

html, body
  max-width: 100%
  overflow-x: hidden

body
  padding: 0
  margin: 0
  min-height: 100vh
  font-family: $primary-font


.title-sections
  font-weight: 900
  font-size: 35px
  margin-bottom: 2rem
  margin-top: 4rem
  color: $primary-color
  text-align: center
  text-transform: uppercase
  font-weight: 900

.section-bg-image
  background-image: url("../img/3-section.png")
  background-size: contain
  background-repeat: no-repeat
  min-height: 110vh
  background-position: top center
  display: flex
  align-items: center



.top-header
  background-image: url("../img/BG.png")
  min-height: 300px
  background-position: center
  background-size: cover
  display: flex
  //align-items: center
  justify-content: center
  flex-direction: column
  color: $white-color
  .navbar
    padding: 0
  .navbar-brand
    text-transform: uppercase
    color: #ffffff
    font-family: $primary-font
    font-weight: 800
    cursor: pointer
    padding-top: 0
    padding-bottom: 0rem
  .navbar-nav
    .nav-link
      color: $white-color
      font-size: 17px
      line-height: 28px
      margin-bottom: 38px

.navbar-light .navbar-toggler
  border: none
  outline: none

@media (min-width: 600px)
  .top-header
    min-height: 700px

@media (min-width: 1500px)
  .top-header
    min-height: 900px

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover
  color: $white-color

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
  color: $white-color

.first-section
  margin-bottom: 7rem

.text-half-section
  color: #ffffff
  font-family: $primary-font
  padding-top: 3.5rem
  h2
    font-weight: 900
    font-size: 35px
    margin-bottom: 55px
    text-transform: uppercase
  h6
    font-size: 17px
    line-height: 28px
    margin-bottom: 38px

.img-half-section
  text-align: center

@media (max-width: 991px)
  .navigation-wrap
    padding-top: 2rem
  .first-section
    margin-bottom: 11rem
  .img-half-section
    margin-top: 5rem

@media (max-width: 600px)
  .img-half-section
    margin-top: 3rem
  .button-first-section-container
    text-align: center

@media (max-width: 366px)
  .button-first-section-container
    .button-first-section
      padding: 13px 20px
    .button-first-section-1
      margin-right: 0
      margin-bottom: 2rem

.button-first-section
  color: $primary-color
  background: white
  border-radius: 14px
  border: 0
  font-weight: 800
  font-family: $primary-font
  padding: 13px 17px
  .upper
    text-transform: uppercase
.button-first-section-1
  margin-right: 25px

.img-max
  max-width: 500px
  width: 100%

// .first-section
//   .img-half-section
//     display: flex
//     align-items: center
//     justify-content: center
//     padding-left: 3%
//     img
//       width: 70%
//   .row
//     display: flex
//     align-items: center
//     justify-content: space-between
//     .col-md-12
//       display: flex
//       align-items: center
//       justify-content: space-between
//       padding: 50px 15px
//   .logo-left h3
//     text-transform: uppercase
//     color: #ffffff
//     font-family: $primary-font
//     font-weight: 800
//     cursor: pointer
//   .menu-right
//     ul
//       display: flex
//       margin-bottom: 0
//       li
//         list-style-type: none
//         margin: 0 20px
//         cursor: pointer
//         h6
//           color: white
//           font-family: $primary-font
//           text-transform: capitalize
//           font-size: 18px
//   .text-half-section
//     color: #ffffff
//     font-family: $primary-font
//     width: 36%
//     padding: 15px
//     h2
//       font-weight: 900
//       font-size: 35px
//       margin-bottom: 55px
//       text-transform: uppercase
//     h6
//       font-size: 17px
//       line-height: 28px
//       margin-bottom: 38px
// .button-first-section
//   color: $primary-color
//   background: white
//   border-radius: 14px
//   border: 0
//   font-weight: 800
//   font-family: $primary-font
//   padding: 13px 17px
//   .upper
//     text-transform: uppercase
// .button-first-section-1
//   margin-right: 25px

.second-section
  margin-bottom: 7%
  .support
    h2
      font-weight: 900
      font-size: 35px
      margin-top: 20px
      margin-bottom: 45px
      text-transform: uppercase
      color: $primary-color
      text-align: center
  ul
    display: flex
    justify-content: center
    li
      list-style-type: none
      margin-right: 80px
      object
        width: 75px

.third-section
  .text-half-third-section
    display: flex
    flex-direction: column
    justify-content: center
    padding-top: 10%
    h2
      font-weight: 900
      font-size: 35px
      margin-bottom: 45px
      text-transform: uppercase
    h5
      line-height: 30px
      font-weight: 400
      font-size: 18.5px
      margin-bottom: 20px
    h2, h5
      font-family: $primary-font
    h2
      color: $primary-color
  .img-right-third-section
    display: flex
    align-items: center
    justify-content: center
    img
      width: 80%
.button-third-section
  background-color: $primary-color
  color: #ffffff
  width: 37%

@media (max-width: 768px)
  .second-section .support h2
    font-size: 27px

  .second-section ul
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 0
    li
      margin-right: 25px
      &:last-child
        margin-right: 0
      object
        width: 65px

  .third-section
    min-height: 130vh
    .img-right-third-section
      margin-top: 30px
      img
        width: 100%

@media (min-width: 769px) and (max-width: 1200px)
  .third-section
    .col-md-5.text-half-third-section
      max-width: 60%
      flex: 0 0 60%

    .col-md-7.img-right-third-section
      max-width: 39%
      flex: 0 0 39%
      img
        width: 100%


@media (max-width: 320px)
  .second-section ul li object
    width: 48px

#features
  h4
    font-size: 22px
    color: $primary-color
    text-align: center
    text-transform: uppercase
    font-weight: 900
    font-family: Poppins, sans-serif
    line-height: 28px
  p
    font-size: 21px
    text-align: center
    margin-top: 2rem
    font-family: Poppins, sans-serif
    font-weight: 100
    margin-bottom: 25px
    padding: 0 17%
  .card-body
    padding: 1.5rem
  .padding-text
    padding: 0 25%
  .row
    padding-top: 3rem
  .features-card
    h4
      font-size: 20px
  img
    display: block
    margin-left: auto
    margin-right: auto
    padding-bottom: 3rem
    max-height: 175px

@media (max-width: 767px)
    .features-card
      margin-bottom: 3rem

.client-section
  color: $primary-color
  .row .col-lg-4
    padding: 0 2.5%
.card-body
  padding: 1.5rem
.client
  .card
    border: none
    border-radius: 1.3rem
    //box-shadow: 0 2px 2px 0 rgba(89, 89, 89, 0.3)
    margin-top: 30px
    .card-title
      margin-top: 0.5rem
      margin-bottom: 0
      font-size: 24px
      letter-spacing: .1rem
      font-weight: 800
      line-height: 19px
    .card-date
      font-weight: 700
      font-size: 21px
      margin-bottom: 1.5rem
    p
      font-size: 18px
      margin-top: 1rem
      font-family: Poppins, sans-serif
      font-weight: 100
      color: initial
      margin-bottom: 70px
      padding-right: 35px
    .fa-star
      font-size: 30px
      margin: 0 4px
.numbers-section.section-bg-image
  margin-top: -75px
  .title-sections
    margin-bottom: 4rem
.star-muted
  opacity: 0.4
  color: gray

@media (max-width: 767px)
    .client
      .card
          margin-bottom: 2rem
.bold
  font-weight: bold
.pricing-section
  //background-image: url("../img/3-section.png")
  background-size: contain
  background-repeat: no-repeat
  min-height: 110vh
  background-position: top center
  display: flex
  align-items: center
  color: $primary-color

.pricing
  .card
    border: none
    border-radius: 1rem
    transition: all 0.2s
    // box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1)
    box-shadow: 0 4px 29px 0 rgba(89, 89, 89, 0.53)
  .card-title
    margin: 0.5rem 0
    font-size: 32px
    letter-spacing: .1rem
    font-weight: 900
  .card-price
    font-size: 3rem
    margin: 0
    margin-bottom: 1rem
    .period
      font-size: 20px

  ul li
    margin-bottom: 1rem
    list-style: none
    text-align: center
    font-size: 20px

  .text-muted
    opacity: 0.7
    text-decoration: line-through

  .button-pricing-section
    color: #ffffff
    background: $primary-color
    border-radius: 14px
    border: 0
    font-weight: 800
    font-family: $primary-font
    padding: 13px 17px
    width: 55%
    margin: 2rem auto 1rem auto

.numbers-section-items
  background: #FFFFFF
  padding: 3rem
  text-align: center
  color: $primary-color
  font-size: 25px
  span
    font-weight: 900
  img
    padding-bottom: 2rem
  p
    padding-top: 0.5rem

.numbers-section-item:first-child
  border-right: 2px solid $primary-color

.numbers-section-item:last-child
  border-left: 2px solid $primary-color

@media (max-width: 991px)
    .numbers-section-item
      margin-bottom: 2rem
    .numbers-section-item:first-child, .numbers-section-item:last-child
      border: none

.choose-section
  color: $primary-color
  h2
    font-weight: 900
    font-size: 30px
    padding-bottom: 2rem

.choose-section-left
  padding-top: 1rem
  h5
    padding-right: 2rem
    font-size: 20px
    color: #000000
    line-height: 28px

.choose-section-right
  border: none
  border-radius: 1rem
  transition: all 0.2s
  // box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1)
  box-shadow: 0 4px 29px 0 rgba(89, 89, 89, 0.53)
  padding: 1rem
  text-align: center
  font-size: 20px
  span
    font-weight: 900
  .h-100 img
    margin-top: 25px

@media (max-width: 991px)
  .choose-section-left
    margin-bottom: 3rem

@media (max-width: 617px)
  .choose-section-righ
    .row
      margin-right: 15px
      margin-left: 15px

.footer-section
  background-image: url("../img/footer.png")
  background-position: center
  background-size: cover
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  color: #ffffff
  h4
    font-weight: 900
    display: flex
    justify-content: center
    font-size: 27px
    padding-bottom: 3rem
    text-align: center
  ul
    padding-top: 3rem
    list-style: none
    font-size: 20px

.title-sections-footer
  color: #ffffff
  margin-bottom: 1.5rem
  margin-top: 10%

.footer-section-btn-box
  display: flex
  flex-direction: row
  justify-content: center
  button
    padding: 17px 20px
    font-size: 20px

.footer-section-links
  display: flex
  justify-content: center
  ul li
    margin-bottom: 10px

.copyright
  margin: 3rem 0 1rem 0
  display: flex
  justify-content: center

@media (max-width: 991px)
  .footer-section-links
    text-align: center
  .title-sections-footer
    margin-top: 33%

@media (max-width: 692px)
  .footer-section-btn-box
    display: block
    text-align: center
    margin: 0 auto
    .button-first-section
      margin-right: 0
      margin-bottom: 2rem

@media (max-width: 320px)
  .title-sections-footer
    margin-top: 50%

// @media (max-width: 1365px)
//   .first-section, .section-bg-image
//     background-size: cover
//     .col-md-7.img-half-section
//       justify-content: flex-end

// @media (min-width: 769px) and (max-width: 1000px)
//   .first-section
//     .col-md-7.img-half-section
//       -ms-flex: 0 0 41.666667%
//       flex: 0 0 41.666667%
//       max-width: 41.666667%
//       img
//         width: 100%
//     .text-half-section.col-md-5
//       -ms-flex: 0 0 58.333333%
//       flex: 0 0 58.333333%
//       max-width: 58.333333%

//   #features p
//     padding: 0 3%



// @media (max-width: 768px)
//   .first-section .row
//     justify-content: center
//     flex-direction: column

//   .first-section
//     //min-height: 110vh
//     .col-md-7.img-half-section, .text-half-section.col-md-5
//       -ms-flex: 0 0 100%
//       flex: 0 0 100%
//       max-width: 100%
//       width: 100%
//       img
//         width: 60%
//     .col-md-7.img-half-section
//       justify-content: center

//   .choose-section.mb-5 .h-100.justify-content-center
//     align-items: center
//     img
//       width: 55%
//       margin-bottom: 30px

// @media (max-width: 375px)
//   .first-section .text-half-section h2
//     font-size: 26px
//     margin-bottom: 25px
//   .button-first-section-1
//     margin-right: 5px
//   .button-first-section
//     padding: 13px