@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
html, body {
  max-width: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, p, ul, header, nav, section, footer {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Raleway", sans-serif; }

.title-sections {
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #67649d;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }

.top-header {
  background-image: url("../img/BG.png");
  min-height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff; }
  .top-header .navbar {
    padding: 0; }
  .top-header .navbar-brand {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0rem; }
  .top-header .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 38px; }

.navbar-light .navbar-toggler {
  border: none;
  outline: none; }

.navbar-light .navbar-toggler-icon {
  background-image: url("../img/menu-button.svg") !important; }

@media (min-width: 600px) {
  .top-header {
    min-height: 700px; } }
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #ffffff; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff; }

.first-section {
  margin-bottom: 7rem; }

.text-half-section {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  padding-top: 3.5rem; }
  .text-half-section h2 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 55px;
    text-transform: uppercase; }
  .text-half-section h6 {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 38px; }

.img-half-section {
  text-align: center; }

@media (max-width: 991px) {
  .navigation-wrap {
    padding-top: 2rem; }

  .first-section {
    margin-bottom: 11rem; }

  .img-half-section {
    margin-top: 6rem; } }
@media (max-width: 600px) {
  .img-half-section {
    margin-top: 3rem; }

  .button-first-section-container {
    text-align: center; }

  .first-section {
    margin-bottom: 5rem; }

  .text-half-section {
    padding-top: 2rem; }
    .text-half-section h2 {
      margin-bottom: 30px; }
    .text-half-section h6 {
      margin-bottom: 28px; } }
@media (max-width: 366px) {
  .button-first-section-container .button-first-section {
    padding: 13px 20px; }
  .button-first-section-container .button-first-section-1 {
    margin-right: 0;
    margin-bottom: 2rem; } }
.button-first-section {
  color: #67649d;
  background: white;
  border-radius: 14px;
  border: 0;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  padding: 13px 17px;
  outline: none; }
  .button-first-section .upper {
    text-transform: uppercase; }

.button-first-section-1 {
  margin-right: 25px; }

.img-max {
  max-width: 700px;
  width: 100%; }

@media (max-width: 991px) {
  .img-max {
    max-width: 500px;
    width: 100%; } }
.jumbotron {
  background-image: url(../img/3-section.png);
  min-height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent; }

@media (min-width: 600px) {
  .jumbotron {
    min-height: 500px; } }
@media (min-width: 1100px) {
  .jumbotron {
    min-height: 800px; } }
@media (min-width: 1400px) {
  .jumbotron {
    min-height: 1000px; } }
.second-section {
  color: #67649d;
  margin-bottom: 7%; }
  .second-section .second-section-card {
    text-align: center; }
    .second-section .second-section-card img {
      margin-top: 2rem;
      width: 80%; }
    .second-section .second-section-card h4 {
      font-weight: 900;
      padding-top: 2rem;
      font-size: 25px;
      text-transform: uppercase; }

.third-section .text-half-third-section {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .third-section .text-half-third-section h5 {
    line-height: 30px;
    font-weight: 400;
    font-size: 18.5px;
    margin-bottom: 20px; }
  .third-section .text-half-third-section h2, .third-section .text-half-third-section h5 {
    font-family: "Raleway", sans-serif; }
  .third-section .text-half-third-section .title-sections {
    text-align: left; }
.third-section .img-right-third-section {
  display: flex;
  align-items: center;
  justify-content: center; }
  .third-section .img-right-third-section .img-max {
    max-width: 600px;
    width: 100%; }

.button-third-section {
  background-color: #67649d;
  color: #ffffff; }

@media (max-width: 768px) {
  .button-third-section-container {
    text-align: center; }

  .third-section .text-half-third-section .title-sections {
    text-align: center; } }
#features h4 {
  font-size: 22px;
  color: #67649d;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Poppins, sans-serif;
  line-height: 28px; }
#features p {
  font-size: 21px;
  text-align: center;
  margin-top: 2rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-bottom: 25px;
  padding: 0 2rem; }
#features .card-body {
  padding: 1.5rem; }
#features .row {
  padding-top: 3rem; }
#features .features-card h4 {
  font-size: 20px; }
#features img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  width: 30%; }
#features .features-description {
  margin-top: 1.4rem; }

@media (max-width: 767px) {
  .features-card {
    margin-bottom: 3rem; }

  #features img {
    width: 100px; } }
.client-section {
  color: #67649d; }
  .client-section .row .col-lg-4 {
    padding: 0 2.5%; }

.card-body {
  padding: 1.5rem; }

.client .card {
  border: none;
  border-radius: 1.3rem;
  margin-top: 30px; }
  .client .card .card-title {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 24px;
    letter-spacing: 0.1rem;
    font-weight: 800;
    line-height: 19px; }
  .client .card .card-date {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 1.5rem; }
  .client .card p {
    font-size: 18px;
    margin-top: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    color: initial;
    margin-bottom: 70px;
    padding-right: 35px; }
  .client .card .fa-star {
    font-size: 30px;
    margin: 0 4px; }
.client .star-block {
  display: inline;
  white-space: nowrap; }

.numbers-section.section-bg-image {
  margin-top: -75px; }
  .numbers-section.section-bg-image .title-sections {
    margin-bottom: 4rem; }

.star-muted {
  opacity: 0.4;
  color: gray; }

@media (max-width: 767px) {
  .client .card {
    margin-bottom: 2rem; }
    .client .card .fa-star {
      font-size: 25px; } }
.bold {
  font-weight: bold; }

.pricing-section {
  margin-bottom: 3rem;
  color: #67649d; }

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 4px 29px 0 rgba(89, 89, 89, 0.53); }
.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 32px;
  letter-spacing: 0.1rem;
  font-weight: 900; }
.pricing .card-price {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem; }
  .pricing .card-price .period {
    font-size: 20px; }
.pricing ul li {
  margin-bottom: 1rem;
  list-style: none;
  text-align: center;
  font-size: 18px;
  color: #000000; }
.pricing .text-muted {
  opacity: 0.7;
  text-decoration: line-through; }
.pricing .button-pricing-section {
  color: #ffffff;
  background: #67649d;
  border-radius: 14px;
  border: 0;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  padding: 13px 17px;
  width: 55%;
  margin: 2rem auto 1rem auto;
  white-space: nowrap; }

.numbers-section-items {
  background: #FFFFFF;
  padding: 3rem;
  text-align: center;
  color: #67649d;
  font-size: 25px; }
  .numbers-section-items span {
    font-weight: 900; }
  .numbers-section-items img {
    padding-bottom: 2rem; }
  .numbers-section-items p {
    padding-top: 0.5rem; }

.numbers-section-item:first-child {
  border-right: 2px solid #67649d; }

.numbers-section-item:last-child {
  border-left: 2px solid #67649d; }

@media (max-width: 991px) {
  .numbers-section-item {
    margin-bottom: 2rem; }

  .numbers-section-item:first-child, .numbers-section-item:last-child {
    border: none; } }
.choose-section {
  color: #67649d; }

.choose-section-left {
  padding-top: 1rem; }
  .choose-section-left h5 {
    padding-right: 2rem;
    font-size: 20px;
    color: #000000;
    line-height: 28px; }

.choose-section-right {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 4px 29px 0 rgba(89, 89, 89, 0.53);
  padding: 1rem;
  text-align: center;
  font-size: 20px; }
  .choose-section-right span {
    font-weight: 900; }
  .choose-section-right .h-100 img {
    margin-top: 25px; }
  .choose-section-right .choose-section-right-title {
    font-weight: 900; }

@media (max-width: 991px) {
  .choose-section-left {
    margin-bottom: 3rem; }

  h5 {
    padding-right: 0; } }
@media (max-width: 700px) {
  .choose-section .row {
    padding-right: 10px;
    padding-left: 10px; }

  .choose-section-left h5 {
    padding-right: 0; } }
.footer-section {
  background-image: url("../img/footer.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff; }
  .footer-section h4 {
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: 27px;
    padding-bottom: 3rem;
    text-align: center; }
  .footer-section ul {
    padding-top: 3rem;
    list-style: none;
    font-size: 20px; }

.title-sections-footer {
  color: #ffffff;
  margin-bottom: 1.5rem;
  margin-top: 10%; }

.footer-section .footer-section-secont-btn {
  padding: 17px 36px; }

.footer-section-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .footer-section-btn-box button {
    padding: 17px 20px;
    font-size: 20px; }

.footer-section-links {
  display: flex;
  justify-content: center; }
  .footer-section-links ul li {
    margin-bottom: 10px; }

.copyright {
  margin: 3rem 0 1rem 0;
  display: flex;
  justify-content: center; }

@media (max-width: 991px) {
  .footer-section-links {
    text-align: center; }

  .title-sections-footer {
    margin-top: 33%; } }
@media (max-width: 692px) {
  .footer-section-btn-box {
    display: block;
    text-align: center;
    margin: 0 auto; }
    .footer-section-btn-box .button-first-section {
      margin-right: 0;
      margin-bottom: 2rem; }

  .title-sections-footer {
    margin-top: 50%; } }
@media (max-width: 320px) {
  .title-sections-footer {
    margin-top: 50%; } }
@media (min-width: 1480px) {
  .container {
    max-width: 90%; }

  .jumbotron {
    background-size: 100% 100%; }

  .title-sections {
    font-size: 3vw;
    padding: 2vw 0; }

  .navbar-brand {
    font-size: 1.9vw; }

  .top-header {
    background-size: 100% 100%; }
    .top-header .navbar {
      padding-top: 2vw; }
    .top-header .navbar-nav .nav-item {
      margin-left: 2vw !important; }
      .top-header .navbar-nav .nav-item .nav-link {
        font-size: 1.6vw; }

  .first-section {
    margin-bottom: 5vw; }
    .first-section .text-half-section h2 {
      font-size: 3vw;
      padding: 2vw 0; }
    .first-section .text-half-section h6 {
      font-size: 1.6vw;
      line-height: 2vw;
      padding-bottom: 2vw; }

  .button-first-section {
    font-size: 1.5vw;
    padding: 1vw 2vw;
    margin-right: 2vw; }

  .img-max {
    max-width: 90%;
    padding-top: 2vw; }

  .img-icon {
    max-width: 90% !important;
    padding-bottom: 1vw; }

  .client .card .card-body {
    padding: 2vw 0 2vw 1vw; }
    .client .card .card-body .fa-star {
      font-size: 2vw; }

  .client-section .card-title {
    font-size: 1.8vw !important; }
  .client-section .card-date {
    font-size: 1.7vw !important;
    padding-top: 1vw; }

  .button-third-section {
    margin-top: 1vw; }

  #features img {
    width: 30%; }
  #features .features-img-width {
    width: 25%; }
  #features .features-setup {
    padding: 1vw 0 2vw 0; }

  .pricing-section .card-body {
    padding: 2vw; }
    .pricing-section .card-body .card-title {
      font-size: 2.3vw; }
    .pricing-section .card-body .card-price .period {
      display: inline-block;
      font-size: 1.7vw;
      padding: 1vw 0; }
    .pricing-section .card-body ul li {
      font-size: 1.7vw;
      padding: 0.5vw 0; }
    .pricing-section .card-body .button-pricing-section {
      font-size: 1.5vw;
      padding: 1vw 2vw; }

  .numbers-section-items {
    font-size: 1.7vw; }
    .numbers-section-items img {
      width: 25%; }

  .choose-section-left-title {
    padding-bottom: 1vw;
    font-size: 2vw; }

  .choose-section-right-title {
    font-size: 2vw;
    padding-bottom: 2vw; }

  .choose-section-right {
    padding: 2vw; }
    .choose-section-right p {
      font-size: 1.5vw; }
    .choose-section-right span {
      font-size: 1.5vw; }
    .choose-section-right .h-100 img {
      margin-bottom: 1vw; }

  .title-second {
    font-size: 1.8vw !important;
    line-height: 2vw !important; }

  .description {
    font-size: 1.6vw !important;
    line-height: 2.1vw !important; }

  .footer-section {
    background-size: 100% 100%; }
    .footer-section .footer-section-secont-btn {
      padding: 1vw 3.1vw; }
    .footer-section ul li {
      font-size: 1.6vw;
      padding: 0.5vw 0; }
    .footer-section .copyright {
      font-size: 1.5vw; }

  .footer-section-btn-box button {
    font-size: 1.7vw;
    padding: 1vw 2.3vw;
    margin-right: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw; } }

/*# sourceMappingURL=style.css.map */
