@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap");
h1, h2, h3, h4, h5, h6, p, ul, header, nav, section, footer {
  margin: 0;
  padding: 0; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Raleway", sans-serif; }

.title-sections {
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #67649d;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }

.section-bg-image {
  background-image: url("../img/3-section.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 110vh;
  background-position: top center;
  display: flex;
  align-items: center; }

.top-header {
  background-image: url("../img/BG.png");
  min-height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff; }
  .top-header .navbar {
    padding: 0; }
  .top-header .navbar-brand {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0rem; }
  .top-header .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 38px; }

.navbar-light .navbar-toggler {
  border: none;
  outline: none; }

@media (min-width: 600px) {
  .top-header {
    min-height: 700px; } }
@media (min-width: 1500px) {
  .top-header {
    min-height: 900px; } }
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #ffffff; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff; }

.first-section {
  margin-bottom: 7rem; }

.text-half-section {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  padding-top: 3.5rem; }
  .text-half-section h2 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 55px;
    text-transform: uppercase; }
  .text-half-section h6 {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 38px; }

.img-half-section {
  text-align: center; }

@media (max-width: 991px) {
  .navigation-wrap {
    padding-top: 2rem; }

  .first-section {
    margin-bottom: 11rem; }

  .img-half-section {
    margin-top: 5rem; } }
@media (max-width: 600px) {
  .img-half-section {
    margin-top: 3rem; }

  .button-first-section-container {
    text-align: center; } }
@media (max-width: 366px) {
  .button-first-section-container .button-first-section {
    padding: 13px 20px; }
  .button-first-section-container .button-first-section-1 {
    margin-right: 0;
    margin-bottom: 2rem; } }
.button-first-section {
  color: #67649d;
  background: white;
  border-radius: 14px;
  border: 0;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  padding: 13px 17px; }
  .button-first-section .upper {
    text-transform: uppercase; }

.button-first-section-1 {
  margin-right: 25px; }

.img-max {
  max-width: 500px;
  width: 100%; }

.second-section {
  margin-bottom: 7%; }
  .second-section .support h2 {
    font-weight: 900;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 45px;
    text-transform: uppercase;
    color: #67649d;
    text-align: center; }
  .second-section ul {
    display: flex;
    justify-content: center; }
    .second-section ul li {
      list-style-type: none;
      margin-right: 80px; }
      .second-section ul li object {
        width: 75px; }

.third-section .text-half-third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%; }
  .third-section .text-half-third-section h2 {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 45px;
    text-transform: uppercase; }
  .third-section .text-half-third-section h5 {
    line-height: 30px;
    font-weight: 400;
    font-size: 18.5px;
    margin-bottom: 20px; }
  .third-section .text-half-third-section h2, .third-section .text-half-third-section h5 {
    font-family: "Raleway", sans-serif; }
  .third-section .text-half-third-section h2 {
    color: #67649d; }
.third-section .img-right-third-section {
  display: flex;
  align-items: center;
  justify-content: center; }
  .third-section .img-right-third-section img {
    width: 80%; }

.button-third-section {
  background-color: #67649d;
  color: #ffffff;
  width: 37%; }

@media (max-width: 768px) {
  .second-section .support h2 {
    font-size: 27px; }

  .second-section ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0; }
    .second-section ul li {
      margin-right: 25px; }
      .second-section ul li:last-child {
        margin-right: 0; }
      .second-section ul li object {
        width: 65px; }

  .third-section {
    min-height: 130vh; }
    .third-section .img-right-third-section {
      margin-top: 30px; }
      .third-section .img-right-third-section img {
        width: 100%; } }
@media (min-width: 769px) and (max-width: 1200px) {
  .third-section .col-md-5.text-half-third-section {
    max-width: 60%;
    flex: 0 0 60%; }
  .third-section .col-md-7.img-right-third-section {
    max-width: 39%;
    flex: 0 0 39%; }
    .third-section .col-md-7.img-right-third-section img {
      width: 100%; } }
@media (max-width: 320px) {
  .second-section ul li object {
    width: 48px; } }
#features h4 {
  font-size: 22px;
  color: #67649d;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Poppins, sans-serif;
  line-height: 28px; }
#features p {
  font-size: 21px;
  text-align: center;
  margin-top: 2rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-bottom: 25px;
  padding: 0 17%; }
#features .card-body {
  padding: 1.5rem; }
#features .padding-text {
  padding: 0 25%; }
#features .row {
  padding-top: 3rem; }
#features .features-card h4 {
  font-size: 20px; }
#features img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  max-height: 175px; }

@media (max-width: 767px) {
  .features-card {
    margin-bottom: 3rem; } }
.client-section {
  color: #67649d; }
  .client-section .row .col-lg-4 {
    padding: 0 2.5%; }

.card-body {
  padding: 1.5rem; }

.client .card {
  border: none;
  border-radius: 1.3rem;
  margin-top: 30px; }
  .client .card .card-title {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 24px;
    letter-spacing: 0.1rem;
    font-weight: 800;
    line-height: 19px; }
  .client .card .card-date {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 1.5rem; }
  .client .card p {
    font-size: 18px;
    margin-top: 1rem;
    font-family: Poppins, sans-serif;
    font-weight: 100;
    color: initial;
    margin-bottom: 70px;
    padding-right: 35px; }
  .client .card .fa-star {
    font-size: 30px;
    margin: 0 4px; }

.numbers-section.section-bg-image {
  margin-top: -75px; }
  .numbers-section.section-bg-image .title-sections {
    margin-bottom: 4rem; }

.star-muted {
  opacity: 0.4;
  color: gray; }

@media (max-width: 767px) {
  .client .card {
    margin-bottom: 2rem; } }
.bold {
  font-weight: bold; }

.pricing-section {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 110vh;
  background-position: top center;
  display: flex;
  align-items: center;
  color: #67649d; }

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 4px 29px 0 rgba(89, 89, 89, 0.53); }
.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 32px;
  letter-spacing: 0.1rem;
  font-weight: 900; }
.pricing .card-price {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem; }
  .pricing .card-price .period {
    font-size: 20px; }
.pricing ul li {
  margin-bottom: 1rem;
  list-style: none;
  text-align: center;
  font-size: 20px; }
.pricing .text-muted {
  opacity: 0.7;
  text-decoration: line-through; }
.pricing .button-pricing-section {
  color: #ffffff;
  background: #67649d;
  border-radius: 14px;
  border: 0;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  padding: 13px 17px;
  width: 55%;
  margin: 2rem auto 1rem auto; }

.numbers-section-items {
  background: #FFFFFF;
  padding: 3rem;
  text-align: center;
  color: #67649d;
  font-size: 25px; }
  .numbers-section-items span {
    font-weight: 900; }
  .numbers-section-items img {
    padding-bottom: 2rem; }
  .numbers-section-items p {
    padding-top: 0.5rem; }

.numbers-section-item:first-child {
  border-right: 2px solid #67649d; }

.numbers-section-item:last-child {
  border-left: 2px solid #67649d; }

@media (max-width: 991px) {
  .numbers-section-item {
    margin-bottom: 2rem; }

  .numbers-section-item:first-child, .numbers-section-item:last-child {
    border: none; } }
.choose-section {
  color: #67649d; }
  .choose-section h2 {
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 2rem; }

.choose-section-left {
  padding-top: 1rem; }
  .choose-section-left h5 {
    padding-right: 2rem;
    font-size: 20px;
    color: #000000;
    line-height: 28px; }

.choose-section-right {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 4px 29px 0 rgba(89, 89, 89, 0.53);
  padding: 1rem;
  text-align: center;
  font-size: 20px; }
  .choose-section-right span {
    font-weight: 900; }
  .choose-section-right .h-100 img {
    margin-top: 25px; }

@media (max-width: 991px) {
  .choose-section-left {
    margin-bottom: 3rem; } }
@media (max-width: 617px) {
  .choose-section-righ .row {
    margin-right: 15px;
    margin-left: 15px; } }
.footer-section {
  background-image: url("../img/footer.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff; }
  .footer-section h4 {
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: 27px;
    padding-bottom: 3rem;
    text-align: center; }
  .footer-section ul {
    padding-top: 3rem;
    list-style: none;
    font-size: 20px; }

.title-sections-footer {
  color: #ffffff;
  margin-bottom: 1.5rem;
  margin-top: 10%; }

.footer-section-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .footer-section-btn-box button {
    padding: 17px 20px;
    font-size: 20px; }

.footer-section-links {
  display: flex;
  justify-content: center; }
  .footer-section-links ul li {
    margin-bottom: 10px; }

.copyright {
  margin: 3rem 0 1rem 0;
  display: flex;
  justify-content: center; }

@media (max-width: 991px) {
  .footer-section-links {
    text-align: center; }

  .title-sections-footer {
    margin-top: 33%; } }
@media (max-width: 692px) {
  .footer-section-btn-box {
    display: block;
    text-align: center;
    margin: 0 auto; }
    .footer-section-btn-box .button-first-section {
      margin-right: 0;
      margin-bottom: 2rem; } }
@media (max-width: 320px) {
  .title-sections-footer {
    margin-top: 50%; } }

/*# sourceMappingURL=style.css.map */
