@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap')
$primary-font: 'Raleway', sans-serif
$primary-color: #67649d
$white-color: #ffffff
$font-bold: 900
$title-font-size: 3vw
$title-second-size: 1.8vw
$text-font-size: 1.6vw
$img-size: 90%

html, body
  max-width: 100%
  overflow-x: hidden

h1, h2, h3, h4, h5, h6, p, ul, header, nav, section, footer
  margin: 0
  padding: 0

body
  padding: 0
  margin: 0
  min-height: 100vh
  font-family: $primary-font


.title-sections
  font-weight: 900
  font-size: 35px
  margin-bottom: 2rem
  margin-top: 4rem
  color: $primary-color
  text-align: center
  text-transform: uppercase
  font-weight: 900

.top-header
  background-image: url("../img/BG.png")
  min-height: 300px
  background-position: center
  background-size: cover
  display: flex
  justify-content: center
  flex-direction: column
  color: $white-color
  .navbar
    padding: 0
  .navbar-brand
    text-transform: uppercase
    color: #ffffff
    font-family: $primary-font
    font-weight: 800
    cursor: pointer
    padding-top: 0
    padding-bottom: 0rem
  .navbar-nav
    .nav-link
      color: $white-color
      font-size: 17px
      line-height: 28px
      margin-bottom: 38px

.navbar-light .navbar-toggler
  border: none
  outline: none

.navbar-light .navbar-toggler-icon
  background-image: url("../img/menu-button.svg")!important

@media (min-width: 600px)
  .top-header
    min-height: 700px

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover
  color: $white-color

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
  color: $white-color

.first-section
  margin-bottom: 7rem

.text-half-section
  color: #ffffff
  font-family: $primary-font
  padding-top: 3.5rem
  h2
    font-weight: 900
    font-size: 35px
    margin-bottom: 55px
    text-transform: uppercase
  h6
    font-size: 17px
    line-height: 28px
    margin-bottom: 38px

.img-half-section
  text-align: center

@media (max-width: 991px)
  .navigation-wrap
    padding-top: 2rem
  .first-section
    margin-bottom: 11rem
  .img-half-section
    margin-top: 6rem

@media (max-width: 600px)
  .img-half-section
    margin-top: 3rem
  .button-first-section-container
    text-align: center
  .first-section
    margin-bottom: 5rem
  .text-half-section
    padding-top: 2rem
    h2
      margin-bottom: 30px
    h6
      margin-bottom: 28px

@media (max-width: 366px)
  .button-first-section-container
    .button-first-section
      padding: 13px 20px
    .button-first-section-1
      margin-right: 0
      margin-bottom: 2rem

.button-first-section
  color: $primary-color
  background: white
  border-radius: 14px
  border: 0
  font-weight: 800
  font-family: $primary-font
  padding: 13px 17px
  outline: none
  .upper
    text-transform: uppercase
.button-first-section-1
  margin-right: 25px

.img-max
  max-width: 700px
  width: 100%

@media (max-width: 991px)
  .img-max
    max-width: 500px
    width: 100%

.jumbotron
  background-image: url(../img/3-section.png)
  min-height: 300px
  background-position: center
  background-size: cover
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background-color: transparent

@media (min-width: 600px)
  .jumbotron
    min-height: 500px

@media (min-width: 1100px)
  .jumbotron
    min-height: 800px

@media (min-width: 1400px)
  .jumbotron
    min-height: 1000px

.second-section
  color: $primary-color
  margin-bottom: 7%
  .second-section-card
    text-align: center
    img
      margin-top: 2rem
      width: 80%
    h4
      font-weight: $font-bold
      padding-top: 2rem
      font-size: 25px
      text-transform: uppercase

.third-section
  .text-half-third-section
    display: flex
    flex-direction: column
    justify-content: center
    h5
      line-height: 30px
      font-weight: 400
      font-size: 18.5px
      margin-bottom: 20px
    h2, h5
      font-family: $primary-font
    .title-sections
      text-align: left
  .img-right-third-section
    display: flex
    align-items: center
    justify-content: center
    .img-max
      max-width: 600px
      width: 100%
.button-third-section
  background-color: $primary-color
  color: #ffffff

@media (max-width: 768px)
    .button-third-section-container
      text-align: center
    .third-section
      .text-half-third-section
        .title-sections
          text-align: center

#features
  h4
    font-size: 22px
    color: $primary-color
    text-align: center
    text-transform: uppercase
    font-weight: 900
    font-family: Poppins, sans-serif
    line-height: 28px
  p
    font-size: 21px
    text-align: center
    margin-top: 2rem
    font-family: Poppins, sans-serif
    font-weight: 100
    margin-bottom: 25px
    padding: 0 2rem
  .card-body
    padding: 1.5rem
  .padding-text
    //padding: 0 25%
  .row
    padding-top: 3rem
  .features-card
    h4
      font-size: 20px
  img
    display: block
    margin-left: auto
    margin-right: auto
    padding-bottom: 3rem
    width: 30%
  .features-img-width
    //width: 30%
  .features-description
    margin-top: 1.4rem

@media (max-width: 767px)
    .features-card
      margin-bottom: 3rem
    #features
      img
        width: 100px

.client-section
  color: $primary-color
  .row .col-lg-4
    padding: 0 2.5%
.card-body
  padding: 1.5rem
.client
  .card
    border: none
    border-radius: 1.3rem
    margin-top: 30px
    .card-title
      margin-top: 0.5rem
      margin-bottom: 0
      font-size: 24px
      letter-spacing: .1rem
      font-weight: 800
      line-height: 19px
    .card-date
      font-weight: 700
      font-size: 21px
      margin-bottom: 1.5rem
    p
      font-size: 18px
      margin-top: 1rem
      font-family: Poppins, sans-serif
      font-weight: 100
      color: initial
      margin-bottom: 70px
      padding-right: 35px
    .fa-star
      font-size: 30px
      margin: 0 4px

  .star-block
    display: inline
    white-space: nowrap
.numbers-section.section-bg-image
  margin-top: -75px
  .title-sections
    margin-bottom: 4rem
.star-muted
  opacity: 0.4
  color: gray

@media (max-width: 767px)
    .client
      .card
          margin-bottom: 2rem
          .fa-star
            font-size: 25px

.bold
  font-weight: bold
.pricing-section
  margin-bottom: 3rem
  color: $primary-color

.pricing
  .card
    border: none
    border-radius: 1rem
    transition: all 0.2s
    box-shadow: 0 4px 29px 0 rgba(89, 89, 89, 0.53)
  .card-title
    margin: 0.5rem 0
    font-size: 32px
    letter-spacing: .1rem
    font-weight: 900
  .card-price
    font-size: 3rem
    margin: 0
    margin-bottom: 1rem
    .period
      font-size: 20px

  ul li
    margin-bottom: 1rem
    list-style: none
    text-align: center
    font-size: 18px

  .text-muted
    opacity: 0.7
    text-decoration: line-through

  .button-pricing-section
    color: #ffffff
    background: $primary-color
    border-radius: 14px
    border: 0
    font-weight: 800
    font-family: $primary-font
    padding: 13px 17px
    width: 55%
    margin: 2rem auto 1rem auto
    white-space: nowrap

.numbers-section-items
  background: #FFFFFF
  padding: 3rem
  text-align: center
  color: $primary-color
  font-size: 25px
  span
    font-weight: 900
  img
    padding-bottom: 2rem
  p
    padding-top: 0.5rem

.numbers-section-item:first-child
  border-right: 2px solid $primary-color

.numbers-section-item:last-child
  border-left: 2px solid $primary-color

@media (max-width: 991px)
    .numbers-section-item
      margin-bottom: 2rem
    .numbers-section-item:first-child, .numbers-section-item:last-child
      border: none

.choose-section
  color: $primary-color

.choose-section-left
  padding-top: 1rem
  h5
    padding-right: 2rem
    font-size: 20px
    color: #000000
    line-height: 28px

.choose-section-right
  border: none
  border-radius: 1rem
  transition: all 0.2s
  box-shadow: 0 4px 29px 0 rgba(89, 89, 89, 0.53)
  padding: 1rem
  text-align: center
  font-size: 20px
  span
    font-weight: 900
  .h-100 img
    margin-top: 25px
  .choose-section-right-title
    font-weight: $font-bold

@media (max-width: 991px)
  .choose-section-left
    margin-bottom: 3rem
  h5
    padding-right: 0

@media (max-width: 700px)
  .choose-section
    .row
      padding-right: 10px
      padding-left: 10px
  .choose-section-left
    h5
      padding-right: 0

.footer-section
  background-image: url("../img/footer.png")
  background-position: center
  background-size: cover
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  color: #ffffff
  h4
    font-weight: 900
    display: flex
    justify-content: center
    font-size: 27px
    padding-bottom: 3rem
    text-align: center
  ul
    padding-top: 3rem
    list-style: none
    font-size: 20px

.title-sections-footer
  color: #ffffff
  margin-bottom: 1.5rem
  margin-top: 10%

.footer-section
  .footer-section-secont-btn
    padding: 17px 36px

.footer-section-btn-box
  display: flex
  flex-direction: row
  justify-content: center
  button
    padding: 17px 20px
    font-size: 20px

.footer-section-links
  display: flex
  justify-content: center
  ul li
    margin-bottom: 10px

.copyright
  margin: 3rem 0 1rem 0
  display: flex
  justify-content: center

@media (max-width: 991px)
  .footer-section-links
    text-align: center
  .title-sections-footer
    margin-top: 33%

@media (max-width: 692px)
  .footer-section-btn-box
    display: block
    text-align: center
    margin: 0 auto
    .button-first-section
      margin-right: 0
      margin-bottom: 2rem
  .title-sections-footer
    margin-top: 50%

@media (max-width: 320px)
  .title-sections-footer
    margin-top: 50%

// @media (max-width: 1365px)
//   .first-section, .section-bg-image
//     background-size: cover
//     .col-md-7.img-half-section
//       justify-content: flex-end

// @media (min-width: 769px) and (max-width: 1000px)
//   .first-section
//     .col-md-7.img-half-section
//       -ms-flex: 0 0 41.666667%
//       flex: 0 0 41.666667%
//       max-width: 41.666667%
//       img
//         width: 100%
//     .text-half-section.col-md-5
//       -ms-flex: 0 0 58.333333%
//       flex: 0 0 58.333333%
//       max-width: 58.333333%

//   #features p
//     padding: 0 3%



// @media (max-width: 768px)
//   .first-section .row
//     justify-content: center
//     flex-direction: column

//   .first-section
//     //min-height: 110vh
//     .col-md-7.img-half-section, .text-half-section.col-md-5
//       -ms-flex: 0 0 100%
//       flex: 0 0 100%
//       max-width: 100%
//       width: 100%
//       img
//         width: 60%
//     .col-md-7.img-half-section
//       justify-content: center

//   .choose-section.mb-5 .h-100.justify-content-center
//     align-items: center
//     img
//       width: 55%
//       margin-bottom: 30px

// @media (max-width: 375px)
//   .first-section .text-half-section h2
//     font-size: 26px
//     margin-bottom: 25px
//   .button-first-section-1
//     margin-right: 5px
//   .button-first-section
//     padding: 13px

@media (min-width: 1480px)
  .container
    max-width: 90%
  .jumbotron
    background-size: 100% 100%
  .title-sections
    font-size: $title-font-size
    padding: 2vw 0
  .navbar-brand
    font-size: 1.9vw
  .top-header
    background-size: 100% 100%
    .navbar
      padding-top: 2vw
    .navbar-nav
      .nav-item
        margin-left: 2vw!important
        .nav-link
          font-size: $text-font-size
  .first-section
    margin-bottom: 5vw
    .text-half-section
      h2
        font-size: $title-font-size
        padding: 2vw 0
      h6
        font-size: $text-font-size
        line-height: 2vw
        padding-bottom: 2vw
  .button-first-section
    font-size: 1.5vw
    padding: 1vw 2vw
    margin-right: 2vw
  .img-max
    max-width: $img-size
    padding-top: 2vw
  .img-icon
    max-width: $img-size!important
    padding-bottom: 1vw
  .client
    .card
      .card-body
        padding: 2vw 0 2vw 1vw
        .fa-star
            font-size: 2vw
  .client-section
    .card-title
      font-size: $title-second-size!important
    .card-date
      font-size: 1.7vw!important
      padding-top: 1vw
  .button-third-section
    margin-top: 1vw
  #features
    img
      width: 30%
    .features-img-width
      width: 25%
    .features-setup
      padding: 1vw 0 2vw 0
  .pricing-section
    .card-body
      padding: 2vw
      .card-title
        font-size: 2.3vw
      .card-price
        .period
          display: inline-block
          font-size: 1.7vw
          padding: 1vw 0
      ul
        li
          font-size: 1.7vw
          padding: 0.5vw 0
      .button-pricing-section
          font-size: 1.5vw
          padding: 1vw 2vw
  .numbers-section-items
    font-size: 1.7vw
    img
      width: 25%
  .choose-section-left-title
    padding-bottom: 1vw
    font-size: 2vw
  .choose-section-right-title
    font-size: 2vw
    padding-bottom: 2vw
  .choose-section-right
    padding: 2vw
    p
      font-size: 1.5vw
    span
      font-size: 1.5vw
    .h-100
      img
        margin-bottom: 1vw
  .title-second
    font-size: $title-second-size!important
    line-height: 2vw!important
  .description
    font-size: $text-font-size!important
    line-height: 2.1vw!important
  .footer-section
    background-size: 100% 100%
    .footer-section-secont-btn
      padding: 1vw 3.1vw
    ul
      li
        font-size: $text-font-size
        padding: 0.5vw 0
    .copyright
        font-size: 1.5vw
  .footer-section-btn-box
    button
      font-size: 1.7vw
      padding: 1vw 2.3vw
      margin-right: 2vw
      margin-top: 1vw
      margin-bottom: 1vw